.loader{
    font-size: large;
    font-weight: bold;
}
.my-pagination .ngx-pagination .current {
    background: red;
  }
  .card-body{
      min-height : 450px;
  }
  .no-users{
      text-align: center;
      font-size: large;
      font-weight: bolder;
      margin-top: 50px;;
  }